

/* google fonts */
/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* macondo */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');


/* CSS Variables */

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-colour: #3a2620; /*dark brown*/
    --secondary-colour: #aa9581;
    --highlight: #416a8e;
    --light-highlight: #7a9fc2;
}


/* global styles */

body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-colour);
    
}

h1, h2 {
    text-transform: uppercase;
}

.sub-heading-colour {
    color: var(--highlight);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 2rem;
}


/* header */

#header .lead {
    font-family: var(--secondary-font);
}

/* services */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* navbar */

#navbar {
    background-color: var(--primary-colour);
}

#navbar  .logo {
    width: 30px;
}



/* grid visualisaiton CSS for testing */

/*
.container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/

/* media queries */

/* medium devices (768px and above) */
@media screen and (min-width: 768px) {
    /* make all services card same height */
    #services .card-body {
        min-height: 191px;
    }
}

/* large devices (992px and above) */
@media screen and (min-width: 992px) {
    /* make all services card same height */
    #services .card-body {
        min-height: auto;
    }
}

/* X-large devices (1200px and above) */
@media screen and (min-width: 1200px) {
    /* make all services card same height */
    #services .card-body {
        min-height: 220px;
    }
}

/* large devices (1400px and above) */
@media screen and (min-width: 1400px) {
    /* make all services card same height */
    #services .card-body {
        min-height: 195px;
    }
}